pandas==2.0.2
requests~=2.31.1
treetaggerwrapper~=2.3
beautifulsoup4~=4.11.1
langdetect~=1.0.9
googletrans~=3.1.0a0
nltk==3.8.1
tldextract==3.4.4
translators==5.7.6
gensim==4.3.1
numpy==1.24.3
scikit-learn==1.2.2
joblib~=1.2.0
Flask~=2.3.2